<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'output.css'%}">
    <title>
        {% block title %}{% endblock  %}
    </title>
</head>
<body>
    <div class= "flex justify-between items-center pt-2 px-5 w-[98%] m-auto">
        <div class="flex items-center justify-center">
            <img src="{%static 'images/user.jpg'%}" alt="" class="w-[80px] rounded-[50%]">
            <h1 class="text-[35px] text-blue-800 font-[900] ml-2 cursor-pointer hover:text-lime-400">
                <a href="{% url 'home'%}">Hasanboy</a>
            </h1>
        </div>
        <div class="flex justify-end items-center w-[981px] h-[36px]">
            <div class="w-[47%] flex items-center justify-between text-[16px]">
                <p class="cursor-pointer hover:text-[20px] hover:text-blue-800 hover:font-[700] transition-all"><a href="{%url 'index'%}">Umumiy</a></p>
                <p class="cursor-pointer hover:text-[20px] hover:text-blue-800 hover:font-[700] transition-all"><a href="{%url 'our'%}">Our work</a></p>
                <p class="cursor-pointer hover:text-[20px] hover:text-blue-800 hover:font-[700] transition-all"><a href="{%url 'what'%}">What we d</a>o</p>
                <p class="cursor-pointer hover:text-[20px] hover:text-blue-800 hover:font-[700] transition-all"><a href="{%url 'about'%}">About us</a></p>
                <p class="cursor-pointer hover:text-[20px] hover:text-blue-800 hover:font-[700] transition-all"><a href="{%url 'get'%}">Get in touch</a></p>
            </div>
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
</html>